canvas {
  border: 1px solid black;
}

.pageView {
  height: 80px;
  width: 60%;
  border: 1px solid black;
}

.textBox {
  position: absolute;
  width: 30px;
  height: auto;
}


.buttonContainer{
  border:1px solid black;
  position:absolute;
  justify-self: flex-end;
}

.comicBoard{
  display:flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.comicButtons{
  margin: 0.2rem;
}


